{% load mptt_tags %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Khan Academy Exercises</title>
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
            type="text/javascript"></script>
        <link href="{{STATIC_URL}}css/base.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
    <ul id="nav">
        {% recursetree nodes %}
            <li>
                {% if node.url %}
                    {% if node.live %}
                    <a href="#" onclick="previewExercise('{{node.display_name}}', '{{node.url}}', '{{STATIC_URL}}images/exercise-screenshots/{{node.filename}}');">
                        {{node.display_name}}
                        <img src="" alt="{{STATIC_URL}}images/exercise-screenshots/{{node.filename}}" class="preview" style="display: none" />
                    </a>
                    {% endif %}
                {% else %}
                    <a href="#">{{node.display_name}}</a>
                {% endif %}
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{children}}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
    <div id="exercise-preview">
        <h1>Math Topic: <a id="topic">select a topic from the menu</a></h1>
        <h4 style="display: none;">Example question:</h4>
        <img id="preview-image" />
    </div>
    <script>
        $(document).ready(function(){
            xOffset = -30;
            yOffset = -100;

            $("li>a").hover(function(e){
                this.title = "";
                var c = (this.t != "") ? "<br/>" + this.t : "";
                var imgSrc = $(this).find('.preview').attr('alt');
                if (imgSrc) {
                    $("body").append("<div id='preview'><img src='"+ imgSrc +"' alt='Sample Exercise' /></div>");
                    $("#preview")
                        .css("top",(e.pageY - xOffset) + "px")
                        .css("left",(e.pageX + yOffset) + "px")
                        .fadeIn("fast");
                }
            },
            function(){
                this.title = this.t;
                $("#preview").remove();
            });
            $("li>a").mousemove(function(e){
                $("#preview")
                    .css("top",(e.pageY - xOffset) + "px")
                    .css("left",(e.pageX + yOffset) + "px");
            });
        });
        function previewExercise(display_name, url, img_src) {
            $('#topic').html(display_name).attr('href', url);
            $('#preview-image').attr('src', img_src);
            $('#exercise-preview>h4').show();
        }
    </script>
    </body>
</html>
